* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-bg {
    background-image: linear-gradient(to right,#ff69c2,#fdd95b);
    min-height: 100vh;
}
.navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: #fff;
}
.nav-items-container {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.title {
    display: none;
}
.bg-image {
    background-image: url('assets/img1.jpg');
    background-size: cover;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-container {
    width: 43%;
    margin-left: 7%;
    color: #fff;
    background-color: rgba(255, 148, 155,0.7);
    padding: 2rem;
}
.main-heading {
    margin-bottom: 0.5rem;
    font-size: 3rem;
}
.description {
    line-height: 1.5rem;
    font-size: 1rem;
}
.order-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    color: #fff;
}
.icons-container {
    display: flex;
    gap: 5px;
}
.icon {
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #000;
    margin-top: 30px;
}
.order-card {
    background-color: #fff;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    width:20%;
    text-align: center;
    font-family:serif;
    padding: 20px;
}
.menu-btn {
    display: none;
}


.card-image {
    width: 100%;
    height: 250px;
    border-top-right-radius: 20%;
}
h2 {
    margin: 10px 0px;
}
.card-description {
    margin-bottom: 10px;
    font-weight: 100;
}
.order-btn  {
    background-color: rgba(255, 252, 252,0.5);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    margin: 50px 0px;
    font-size: 20px;
    font-weight: bold;
}



@media (max-width:991px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .order-card {
        width: 80%;
    }
    .text-container {
        width: 80%;
        margin: auto;
    }
    .nav-items-container {
        display: none;
    }
    .title {
        display: block;

    }
    .icons-container {
        display: none;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbar button {
        display: block;
        border: 0px;
        padding: 0px;
        font-size: 20px;
    }   
}
@media (min-width:768px) and (max-width:991px) {
    .order-card {
        width: 50%;
    }
}   